<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Functional Programming In Javascript</title>
  
  <link rel="stylesheet" href="reveal/css/reveal.min.css">
  <link rel="stylesheet" href="reveal/lib/css/googlecode.css">

  <link rel="stylesheet" href="slides-theme/style.css">
  <link rel="stylesheet" href="slides-theme/talk-specific.css">
</head>

<body>

  <div class="reveal">
    <div class="slides">

<section data-markdown class=front><script type="text/template">
# Angular 1.x

[@timruffles](http://twitter.com/timruffles)
[@sidekicksrc](http://twitter.com/sidekicksrc)
</script></section>

<section data-markdown ><script type="text/template">
## The adoption cycle
</script></section>

<section data-markdown ><script type="text/template">
## You've just finished a project
</script></section>

<section data-markdown ><script type="text/template">
## It got pretty ugly
</script></section>

<section data-markdown ><script type="text/template">
## Retrospectives :(
</script></section>

<section data-markdown ><script type="text/template">
## But wait... there...
</script></section>

<section data-markdown ><script type="text/template">
## A new hope!
</script></section>

<section>
  <img src="img/angularjs.svg" width=4000>
</section>

<section data-markdown ><script type="text/template">
## A new framework!!!
</script></section>

<section data-markdown ><script type="text/template">
## Your toy apps work so well

> "todo lists were never this easy before!"
</script></section>

<section data-markdown ><script type="text/template">
## You've convinced my colleagues

> "omg data-binding!"
</script></section>

<section data-markdown ><script type="text/template">
## You've got buy-in from your boss

> "made by Google you say?"
</script></section>

<section data-markdown ><script type="text/template">
## It's decided... the next project is in... Angular!!!
</script></section>

<section data-markdown ><script type="text/template">
## (or, please no, a rewrite)
</script></section>

<section data-markdown ><script type="text/template">
## Early features are a success

> "desk beers?"
</script></section>

<section data-markdown ><script type="text/template">
## But slowly...
</script></section>

<section data-markdown ><script type="text/template">
## The beast creeps in
</script></section>

<section data-markdown ><script type="text/template">
## There are parts of the project you don't want to look at
</script></section>

<section data-markdown data-state=title><script type="text/template">
## It's all suddenly looking like
</script></section>

<section data-state=image>
  <img src="img/last-codebase.jpg">
</section>

<section data-markdown><script type="text/template">
## This was my story
</script></section>

<section data-markdown><script type="text/template">
## So, I learned something (again)
</script></section>

<section data-markdown><script type="text/template">
## Turns out web-apps are hard
</script></section>

<section data-markdown><script type="text/template">
## Turns out design is still a thing
</script></section>

<section data-markdown><script type="text/template">
## I've written a few Angular apps now
</script></section>

  <section data-markdown data-state=title><script type="text/template">
  ## What did I learn?
  </script></section>

<section data-markdown><script type="text/template">
## Angular isn't a framework
</script></section>

  <section data-markdown><script type="text/template">
  ## ???
  </script></section>

  <section data-markdown><script type="text/template">
  ## Not big enough to be

  - model layer, *nope*
  - structuring apps, *nope*
  - large scale architecture, *nope*

  </script></section>

  <section data-markdown><script type="text/template">
  ## Angular leaves big decisions up to you
  </script></section>

  <section data-markdown><script type="text/template">
  ## Choose your own adventure framework
  </script></section>

  <section data-markdown><script type="text/template">
  ## What happened when I assumed Angular was 'done'?
  </script></section>

  <section data-markdown><script type="text/template">
  ## Bad defaults
  </script></section>
  
    <section data-markdown><script type="text/template">
    ## e.g folder structure
    </script></section>

    <section>
      <h2>The default</h2>

<pre>
app
  controllers
    someCtrl.js

    # 100 more...

  directives
    someDirective.js

    # 100 more...

  templates
</pre>
    </section>

    <section data-markdown><script type="text/template">
    ## Monolithic
    </script></section>

    <section data-markdown><script type="text/template">
    ## Low locality

    - related things close
    - a very under-appreciated virtue (compared to say, 'modularity')
    </script></section>

    <section data-markdown><script type="text/template">
    ## No conventions
    </script></section>

    <section>
      <h2>Much happier with...</h2>

<pre>
app
  features
    home-page
      index.html
      index.js
    account
      user-widget
        index.html
        index.js
  components
    breadcrumb
      index.js
      index.html
  common
    resource
      index.js
</pre>
    </section>

    
    <section data-markdown><script type="text/template">
    ## Features folder

    - page or modal level
    - mix of reusable things from `components` and one offs
    </script></section>

        
    <section data-markdown><script type="text/template">
    ## Conventions

    - more important the bigger the app, reduce cognitive load
    - `index.js` for a top-level
    - `index.html` for a directive's primary template
    </script></section>

  <section data-markdown data-state=title><script type="text/template">
  ## I learned Angular is small
  </script></section>

  <section data-markdown><script type="text/template">
  ## So I still had to make decisions
  </script></section>

  <section data-markdown><script type="text/template">
  ## Like a framework author
  </script></section>

  <section data-markdown><script type="text/template">
  ## Framework
  - conventions
  - support good design (modularity, locality etc)
  - built it up towards your problem
  </script></section>

  <section data-markdown><script type="text/template">
  ## I also realised...
  </script></section>

  <section data-markdown data-state=title><script type="text/template">
  ## It's lucky Angular isn't a framework
  </script></section>

    <section data-markdown><script type="text/template">
    ## As some of Angular
    </script></section>

    <section data-markdown><script type="text/template">
    ## Is slightly...
    </script></section>

    <section data-markdown><script type="text/template">
    ## ~~slightly~~ completely
    </script></section>

    <section data-markdown><script type="text/template">
    ## AWFUL

    :(
    </script></section>

    <section data-markdown><script type="text/template">
    ## Module system
    </script></section>

    <section data-markdown><script type="text/template">
    ## Why?
    </script></section>

     <section data-markdown><script type="text/template">
    ## Confusing
    </script></section>

      <section data-markdown><script type="text/template">
      ## Factory, service, provider, constant
      </script></section>

      <section data-markdown><script type="text/template">
      ## Yuk
      </script></section>

      <section data-markdown><script type="text/template">
      ## Yuk
      </script></section>

      <section data-markdown><script type="text/template">
      ## `Singleton`
      </script></section>

      <section data-markdown><script type="text/template">
      ## Implementation leaks into user's designs

      - docs are at fault
      </script></section>

    <section data-markdown><script type="text/template">
    ## Proprietary
    </script></section>

      <section data-markdown><script type="text/template">
      ## Reuse

      > "You can package code as reusable modules."
      
      </script></section>

      <section data-markdown><script type="text/template">
      ## Reuse

      > "You can package code as reusable modules."

      > "...as long as all your code is Angular"
      
      </script></section>


    <section data-markdown><script type="text/template">
    ## Missing features
    </script></section>

      <section data-markdown><script type="text/template">
      ## Lazy-loading
      </script></section>

      <section data-markdown><script type="text/template">
      ## Building
      </script></section>

    <section data-markdown><script type="text/template">
    ## So I asked myself
    </script></section>

    <section data-markdown><script type="text/template">
    ## "Can I keep Angular and lose its module system?"
    </script></section>

    <section data-markdown data-state=title><script type="text/template">
    ## Yes
    </script></section>

      <section>
        <img src="img/browserify.svg" width=4000>
      </section>

      <section data-markdown><script type="text/template">
      ## Browserify

      - `npm` in the browser
      - CommonJS format
      </script></section>

      <section data-markdown><script type="text/template">
      ## My structure:

      ```javascript
      exports.controllers = {
        "SearchCtrl": SearchCtrl,
      };

      exports.directives = {};

      exports.routes = {
        "/": {
          template: require("./search.html")
        },
      }

      function SearchCtrl() {
        this.message = "hello"
      }
      ```
      </script></section>

      <section data-markdown><script type="text/template">
      ## Get setup

      1. grunt
      1. grunt-browerify
      1. grunt-browerify-watch
      1. grunt-browerify-angular
      1. grunt-browerify-templates
      1. grunt-browerify-biscuits
      1. grunt-browerify-lazy-load
      </script></section>

      <section data-markdown><script type="text/template">
      ## `</joke>`
      </script></section>

      <section data-markdown><script type="text/template">
      ## The stack

      ```sh
      npm install --save browserify watchify stringify
      ```
      </script></section>

      <section data-markdown><script type="text/template">
      ## Unwrap Angular's module stuff
      </script></section>

      <section data-markdown><script type="text/template">
      ```sh
      require("angular");
      require("angular-route");

      var _ = require("lodash");

      angular.module('events', ["ngRoute"])
      .config(function($controllerProvider, $compileProvider, $routeProvider) {

        exports.controller = function(controller, name) {
          $controllerProvider.register(name, controller);
        }
        // same for filter, routes, etc
        // can use these for lazy-load

        var deps = [
          require("../create-event"),
          require("../search-events"),
        ];

        deps.forEach(function(module) {
          _.each(module.controllers || {}, exports.controller)
          // same for directives, filters etc
        });
      });
      
      ```
      </script></section>

      <section data-markdown><script type="text/template">
      ## Workflow

      ```sh
      watchify -r stringify -o dist/app.js features/core/index.js
      ```
      </script></section>

    <section data-markdown data-state=title><script type="text/template">
    ## `$resource`
    </script></section>

      <section data-markdown><script type="text/template">
      ## ActiveRecord: bad idea or worst idea ever?
      </script></section>

      <section data-markdown><script type="text/template">
      ## AR is good at CRUD
      </script></section>

      <section data-markdown><script type="text/template">
      ## AR is about persistence

      - not: forms
      - or domain logic
      </script></section>

      <section data-markdown><script type="text/template">
      ## Putting everything in AR
      </script></section>

      <section data-markdown><script type="text/template">
      ## Summons cthulu

      > I give people one piece of advice: make smaller things

      Sandi Metz (we can learn things from Rubyists)

      </script></section>

      <section data-markdown><script type="text/template">
      ## I'm happiest with

      - `ServerCommand` object, to encapsulate transaction
      - using `$http` with objects and arrays for most data
      </script></section>

      <section data-markdown><script type="text/template">
      ## Functional programming

      > Better to have 100 functions for one data structure than 10 functions for 10 data structures."
      
      - Alan J. Perlis
      </script></section>

      <section data-markdown><script type="text/template">
      ## Prefer `$http` and promises

      - keep data simple
      </script></section>

<section data-markdown><script type="text/template">
## So I learned to edit Angular
</script></section>

<section data-markdown><script type="text/template">
## And this is generally applicable
</script></section>

<section data-markdown><script type="text/template">
## And also why we should
</script></section>

<section data-markdown><script type="text/template">
## Write smaller things
</script></section>

<section data-markdown><script type="text/template">
## If we want adoption and longevity
</script></section>

<section data-markdown><script type="text/template">
## Big things have lots of ego
</script></section>

<section data-markdown><script type="text/template">
## So they don't play well with others
</script></section>

<section data-markdown><script type="text/template">
## Others stop talking to them
</script></section>

<section data-markdown><script type="text/template">
## ...and they die alone

1. dojo
1. Ext.JS
1. GWT
</script></section>

<section data-markdown><script type="text/template">
## But equally, I realised...
</script></section>


<section data-markdown data-state=title><script type="text/template">
## Brilliant bits of Angular are underused
</script></section>

  <section data-markdown><script type="text/template">
  ## `Controller as alias` syntax is required

  > Explicit is better than implicit.

  Zen of Python, PEP 20, Tim Peters
  </script></section>

    <section data-markdown><script type="text/template">
    ## `$scope` is a big shared namespace

    - write smaller things
    </script></section>

    <section data-markdown><script type="text/template">

    ## Scope vars are implicit

    - who owns them?
      
```html
<div ng-controller="GraphCtrl"
  <table >
    <tr ng-repeat="row in data">
    </tr>
  </table>

  <div class='line-graph-header'>
    <h3>{{ lineGraphTitle }}</h3>
  </line-graph>
</div>
```
    </script></section>

  <section data-markdown><script type="text/template">
  ## Directives are your friends
  </script></section>

    <section data-markdown><script type="text/template">
    ## Prefer them to controllers
    </script></section>

      <section data-markdown><script type="text/template">
      ## More explicit
      </script></section>

      <section data-markdown><script type="text/template">
      ## More abstraction
      </script></section>

      <section data-markdown><script type="text/template">
      ## More aligned with the future
      </script></section>

      <section data-markdown><script type="text/template">
      ## For example
      </script></section>

      <section data-markdown><script type="text/template">
      
```html
<data-table
  controller-as="dataTable"
  width="800 + ctrl.padding"
  >
</data-graph>

<line-graph
  x-scale="ctrl.scale"
  y-scale="ctrl.yScale"
  data="dataCtrl.series"
  width="800 + ctrl.padding"
  on-inspect="dataTable.data = $series"
  >
</line-graph>
```
      </script></section>


      <section data-markdown><script type="text/template">

```javascript
module.exports = function() {

  return {
    restrict: "E",
    controllerAs: "ctrl",
    bindToController: true,
    controller: LineGraphCtrl,
    link: lineGraph,
    scope: {
      xScale: "=",
      // ...
      onInspect: "&"
    }
  }

}
```

      </script></section>

      <section data-markdown><script type="text/template">

```javascript
function lineGraph(scope, el, attrs, ctrl) {
  
  // ...
  points.on("click", function(d, i) {
    ctrl.onInspect({
      $series: d,
    });
  })
}
```

      </script></section>

  <section data-markdown><script type="text/template">
  ## Directives are great, but if you add
  </script></section>

  <section data-markdown><script type="text/template">
  ## `ngModelController`
  </script></section>

  <section data-markdown><script type="text/template">
  ## ...they're AMAZING
  </script></section>

    <section data-markdown><script type="text/template">
    ## Show of hands

    - who's used it with custom directives?

    ```html
    <my-widget ng-model="something">
    ```
    </script></section>

    <section data-markdown><script type="text/template">
    ## What is `ng-model`

    - mostly `ngModelController`

    </script></section>

    <section data-markdown><script type="text/template">
    ## `ngModelController` is a form object

    </script></section>

    <section data-markdown><script type="text/template">
    ## Most widgets are really `<inputs>`

    - user editing
    - have state
    - why reinvent the wheel?
    </script></section>

    <section data-markdown><script type="text/template">
    ## Plays well with `<form>`
    </script></section>

    <section data-markdown><script type="text/template">
    ## For example...
    </script></section>

    <section data-markdown><script type="text/template">
    ## `<input type=time>` is boring
    </script></section>

    <section data-markdown><script type="text/template">
    ## What about a big clock face to drag?
    </script></section>

    <section data-markdown><script type="text/template">
    ## Can `ng-model` be used on that?
    </script></section>

    <section data-markdown><script type="text/template">
    ## Let's try
    </script></section>

    <section data-markdown><script type="text/template">
```html
 <form name=timeForm>

  <div class='extended-clock'>
    <svg width=1000 height=1000 >
      <g clock-input ng-model=item.time name=time></g>
        <text x=500 y=500>
          {{ item.time | date:"shortTime" }}
        </text>
        <text x=500 y=550 ng-click="toggle()">
          {{ ticking ? "Stop" : "Start" }}
        </text>
    </svg>
  </div>

</form>
```
    </script></section>

        <section data-markdown><script type="text/template">
```javascript
function clock() {
  return {
    // we require an instance of ng-model to work
    require: "ngModel",
    link: function(scope, el, attrs, ngModel) {

      // initialize the non-angular widget, and
      // pass in our model updating fn
      var clock = donutClock({
        onInput: view2model,
        el: el[0],
      });

      // when angular detects a change to the model,
      // we update our widget
      ngModel.$render = model2view;
        
      function model2view(time) {
        clock.set(ngModel.$viewValue);
      }

      function view2model(fromView) {
        ngModel.$setViewValue(fromView);
      }

    }
  }
}
```

    </script></section>

    <section data-markdown><script type="text/template">
    ## Example

    - [live demo](./demos/ngModelController/index.html)
    </script></section>


<section data-markdown data-state=title><script type="text/template">
## It was a long path
</script></section>

<section data-markdown><script type="text/template">
## I learned...
</script></section>

<section data-markdown><script type="text/template">
## That making apps is still hard
</script></section>

<section data-markdown><script type="text/template">
## That Angular wants me to extend it
</script></section>

<section data-markdown><script type="text/template">
## That Angular is ok with an open relationship
</script></section>

<section data-markdown><script type="text/template">
## We don't have to do everything together
</script></section>

<section data-markdown><script type="text/template">
## And finally, that I should RTFM

- (though... the docs could still be a lot better)
</script></section>


<section data-markdown ><script type="text/template">
# Questions?

- Build Angular into *your* framework
- Replace the bad (`modules`, `$resource`)
- Use the good (`directives`, `ngModel`)

### [@timruffles](http://twitter.com/timruffles)
</script></section>

<section data-markdown ><script type="text/template">

## Creative commons work


</script></section>


</div>
</div>

<script src="js/jquery.js"></script>

<!-- reveal -->
<script src="reveal/lib/js/head.min.js"></script>
<script src="reveal/js/reveal.min.js"></script>
<script>
  Reveal.initialize({

    // Display controls in the bottom right corner
    controls: false,

    // Display a presentation progress bar
    progress: true,

    // Push each slide change to the browser history
    history: true,

    // Enable keyboard shortcuts for navigation
    keyboard: true,

    // Enable the slide overview mode
    overview: true,

    // Vertical centering of slides
    center: false,

    // Loop the presentation
    loop: false,

    // Change the presentation direction to be RTL
    rtl: false,

    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    autoSlide: 0,

    // Enable slide navigation via mouse wheel
    mouseWheel: false,

    // Apply a 3D roll to links on hover
    rollingLinks: false,

    // Transition style
    transition: 'linear', // default/cube/page/concave/zoom/linear/fade/none

    dependencies: [
        // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
        { src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },

        // Interreveal/pret Markdown in <section> elements
        { src: 'reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); }, callback: function() { 
                                                                                                                                                           } },

        // Syntareveal/x highlight for <code> elements
          { src: 'reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

          // Zoom reveal/in and out with Alt+click
          { src: 'reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },

          // Speakreveal/er notes
          { src: 'reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },

          // Remotreveal/e control your reveal.js presentation using a touch device
          // { src: 'reveal/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]

          });
    </script>
</body>

